@font-face {
  font-family: 'Product Sans';
  font-style : normal;
  font-weight: 400;
  src        : local('Open Sans'), local('OpenSans'), url(../fonts/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
  font-family: 'Product Sans Regular';
  src        : url(../fonts/ProductSans-Regular.ttf) format('truetype');
  font-style : normal;
  font-weight: normal;
}

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: sans-serif;
  font-family: Product Sans;
}

html {
  overflow-x      : hidden;
  background-color: #fefefe;
  cursor          : url(../assets/images/icons/cursor_arrow2.png), pointer;
}

.block-scroll {overflow:hidden}

a,
button,
.listitem,
.md-tab,
.swiper-pagination-bullet,
.accordion__tab,
.acept,
.swip-img,
.lastblog,
#logo {
  cursor: url(../assets/images/icons/cursor_hand2.png), pointer !important;
}

p {
  margin: 0 !important;
}

body::-webkit-scrollbar {
  width : 13px;
  height: 100px;
}

body::-webkit-scrollbar-thumb {
  background   : #c1c1c1;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background: #e8e4e4;
}

header .menu-area .ani1 {
  position               : absolute;
  background-color       : #ff5722;
  z-index                : -1;
  transition             : all .3s;
  opacity                : 0;
  height                 : 3px !important;
  border-top-left-radius : 10px;
  border-top-right-radius: 10px;
  margin-top             : 22px;
}

header .menu-area .ani1.active {
  opacity: 1;
  height : 140px;
}

.background {
  color: #ff5722;
}

.espacio {
  opacity: 0;
}

@media screen and (max-width:1024px) {
  header .menu-area .ani1 {
    height: 0px !important
  }
}


/* RIPPLE  */
.ripple-container {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.ripple-effect-mask {
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
}

.ripple-effect {
  border-radius: 50%;
  height: 1px;
  pointer-events: none;
  transition: width, height, margin, background-color 400ms 250ms;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  width: 1px;
}

button .ripple-effect {
  background-color: rgba(0, 0, 0, 0.09);
}